{% extends "base_3col.html" %}

{% block sectionid %}about{% endblock %}
{% block body_class %}about{% endblock %}
{% block layout_class %}full-width{% endblock %}

{% block header %}
<div class="bg-about">
</div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <h2>
                    A legacy of inventing the future
                </h2>
            </div>
            <div class="col-12 col-sm-9 col-md-9 col-lg-9 col-xl-9">
            <p style="text-align: justify;">
                If you’re reading this on a computer, it’s more than likely we’ve played a part in making that happen. This is because at PARC, we’ve been pioneering developments, creating systems and devising solutions that improve the human experience of technology for almost half a century. We’re proud of our history of creative innovation, and we’re always looking to a future where our Focus Areas can be applied and achieved.
                <br><br>
                Today, PARC provides custom R&D services, technology, expertise, best practice and intellectual property to a whole range of companies, from Fortune 500 and Global 1000 firms to startups and government agencies all over the world. With our help, organizations can reduce risk, accelerate their time to market and create new opportunities that would otherwise not exist.
                <br><br>
                If you would like to know more about how you can benefit from our history and future, visit Working with PARC.
                <br></p>
            </div>
        </div>
    </div>

    <h1>PARC History Timeline</h1>

    <div class="row">
        
    </div>
{% endblock %}