{% extends "base_3col.html" %}

{% block sectionid %}history{% endblock %}
{% block body_class %}history{% endblock %}
{% block layout_class %}full-width{% endblock %}

{% block header %}
<div class="bg-about">
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <h2>
                A legacy of inventing the future
            </h2>
        </div>
        <div class="col-12 col-sm-9 col-md-9 col-lg-9 col-xl-9">
            <p style="text-align: justify;">
                If you’re reading this on a computer, it’s more than likely we’ve played a part in making that happen.
                This is because at PARC, we’ve been pioneering developments, creating systems and devising solutions
                that improve the human experience of technology for almost half a century. We’re proud of our history of
                creative innovation, and we’re always looking to a future where our Focus Areas can be applied and
                achieved.
                <br><br>
                Today, PARC provides custom R&D services, technology, expertise, best practice and intellectual property
                to a whole range of companies, from Fortune 500 and Global 1000 firms to startups and government
                agencies all over the world. With our help, organizations can reduce risk, accelerate their time to
                market and create new opportunities that would otherwise not exist.
                <br><br>
                If you would like to know more about how you can benefit from our history and future, visit Working with
                PARC.
                <br></p>
        </div>
    </div>
</div>

<h1>PARC History Timeline</h1>

<div class="timeline">
    <div class="infobox left">
        <div class="content">
            <h2>10-2019: Xerox PARC Founded</h2>
            <p>Xerox Corporation assembles a team of world-class experts in information and physical sciences to
                become
                what is known as ‘The Architects of Information.’ The company establishes the Xerox Palo Alto
                Research
                Center (Xerox PARC) under the direction of Dr. George Pake. The charter for Xerox PARC is to
                create
                ‘The
                Office of the Future.’</p>
        </div>
    </div>
    <div class="infobox right">
        <div class="content">
            <h2>2018: Laser printing</h2>
            <p>Xerox PARC modulates a laser to create a bit-mapped electronic image on a xerographic copier
                drum.
                Not
                only does this demonstrate a novel way to print documents, but this invention of laser printing
                enables
                seamless rendering of digital documents onto paper, creating a multibillion dollar printing
                business
                for
                Xerox.</p>
        </div>
    </div>
    <div class="infobox left">
        <div class="content">
            <h2>2017: Object-oriented programming</h2>
            <p>Xerox PARC designs Smalltalk – an object-oriented programming language that enables programs to
                be
                improved without being entirely rewritten. This innovation revolutionizes the software industry
                and
                influences subsequent programming systems.</p>
        </div>
    </div>
</div>
{% endblock %}