{% extends "base_research.html" %}
{% load static %}
{% block content %}
<div class="container scroll-animations">
    <h1 class="center mt-4 mb-5" data-aos="fade-up">Optimized techniques
    </h1>
    <div class="row content-warp scroll-animations">
        <div class="col-12 col-md-6 col-lg-6" style="padding:0;">
            <div class="up-in" data-aos="fade-up" id="item1">
                <div class="header-wrap">
                    <h2>
                        Big Data
                    </h2>
                    <img class="icon" src="{% static "img/logos/add-symbol.svg"%}" />
                </div>
                <div class="detail">
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <h4 class="text-top">HEAD OF LAB</h4>
                        </div>
                        <div class="col-12 col-md-8">
                            <p class="text-top">Christopher White</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <h4 class="text-top">MISSION</h4>
                        </div>
                        <div class="col-12 col-md-8">
                            <p class="text-top">Develop disruptive, breakthrough solutions to critically hard industry
                                problems via network protocols, algorithms addressing networks and other complex
                                systems,
                                network control systems, and useful and real-time analytics.</p>
                        </div>
                    </div>
                    <a class="watchmore" href={% url 'homepage'%}> Learn More</a>
                </div>
            </div>
            <div class="up-in" data-aos="fade-up" id="item2">
                <div class="header-wrap">
                    <h2>
                        AI
                    </h2>
                    <img class="icon" src="{% static "img/logos/add-symbol.svg"%}" />
                </div>
                <div class="detail">
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <h4 class="text-top">HEAD OF LAB</h4>
                        </div>
                        <div class="col-12 col-md-8">
                            <p class="text-top">Christopher White</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <h4 class="text-top">MISSION</h4>
                        </div>
                        <div class="col-12 col-md-8">
                            <p class="text-top">
                                Develop breakthrough technologies for the communications systems that directly connect
                                with
                                end users. We address wireless in 5G radios, transceiver design, massive MIMO, and
                                communications theory to bring faster fiber and fiber-like speeds over copper to enable
                                seemingly infinite capacity and edge clouds for low latency computing.</p>
                        </div>
                    </div>
                    <a class="watchmore" href={% url 'homepage'%}> Learn More</a>
                </div>
            </div>

        </div>
        <div class="col-12 col-md-6 col-lg-6" style="padding:0;">
            <div class=" up-in" data-aos="fade-up" id="item3">
                <div class="header-wrap">
                    <h2>
                        ML </h2>
                    <img class="icon" src="{% static "img/logos/add-symbol.svg"%}" />
                </div>
                <div class="detail">
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <h4 class="text-top">HEAD OF LAB</h4>
                        </div>
                        <div class="col-12 col-md-8">
                            <p class="text-top">Christopher White</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <h4 class="text-top">MISSION</h4>
                        </div>
                        <div class="col-12 col-md-8">
                            <p class="text-top">Develop disruptive, breakthrough solutions to critically hard industry
                                problems via network protocols, algorithms addressing networks and other complex
                                systems,
                                network control systems, and useful and real-time analytics.</p>
                        </div>
                    </div>
                    <a class="watchmore" href={% url 'homepage'%}> Learn More</a>

                </div>

            </div>
        </div>
    </div>
</div>
<div class="container related-news mt-5">
    <h1 class="center mt-4 mb-5" data-aos="fade-up">Related News</h1>
    <div class="row mt-5 mb-5">
        <li class="mt-5 col-12 col-md-6 col-lg-4 post-wrap" data-aos="zoom-in">
            <div class="bg-chg" style="background-color: #f8f8f8;padding:8%">
                <span class="fnt_14">2019/04/22</span>
                <h4 class="fnt_20" style="margin-top: 15px;margin-bottom: 15px;"><a href="/content/details6_2444.html"
                        target="_blank">Learn how human existence will be transformed
                    </a></h4>
                <p class="fnt_16" style="margin-bottom: 15px;">
                    The goal of automating much of life, effectively creating time by max the efficiency of
                    everything we do and augmenting our intelligence with knowledge that expedites and optimizes
                    decision-making and everyday routines and processes. </p>
                <a class="work_ch_btn" href="/content/details6_2444.html" target="_blank">View more</a>
            </div>
        </li>

        <li class="mt-5 col-12 col-md-6 col-lg-4 post-wrap" data-aos="zoom-in">
            <div class="bg-chg" style="background-color: #f8f8f8;padding:8%">

                <span class="fnt_14">2019/04/22</span>
                <h4 class="fnt_20" style="margin-top: 15px;margin-bottom: 15px;"><a href="/content/details6_2444.html"
                        target="_blank">《政策驱动·智慧薪税》暨燚博云2019新税政策大咖分享会全国行</a></h4>
                <p class="fnt_16" style="margin-bottom: 15px;">
                    "In the telecoms and technology industry, we are always looking to predict the future. We want to
                    know
                    how consumer demands and requirements are changing, understand how technology will evolve, and
                    predict
                    the impact these will both have on networks and services.
                </p> <a class="work_ch_btn" href="/content/details6_2444.html" target="_blank">View more</a>
            </div>
        </li>

        <li class="mt-5 col-12 col-md-6 col-lg-4 post-wrap" data-aos="zoom-in">
            <div class="bg-chg" style="background-color: #f8f8f8;padding:8%"> <span class="fnt_14">2019/04/22</span>
                <h4 class="fnt_20" style="margin-top: 15px;margin-bottom: 15px;"><a href="/content/details6_2444.html"
                        target="_blank">《政策驱动·智慧薪税》暨燚博云2019新税政策大咖分享会全国行</a></h4>
                <p class="fnt_16" style="margin-bottom: 15px;">
                    为响应国家新税政策，帮助企业优税节税，完善薪酬体系，真正实现降本增效，燚博云&amp;优客工场联合主办的《政策驱动·智慧薪税》暨燚博云2019新税政策大咖分享会全国行将要启动啦！ </p> <a
                    class="work_ch_btn" href="/content/details6_2444.html" target="_blank">View more</a>
            </div>
        </li>

        <li class="mt-5 col-12 col-md-6 col-lg-4 post-wrap" data-aos="zoom-in">
            <div class="bg-chg" style="background-color: #f8f8f8;padding:8%">
                <span class="fnt_14">2019/04/22</span>
                <h4 class="fnt_20" style="margin-top: 15px;margin-bottom: 15px;"><a href="/content/details6_2444.html"
                        target="_blank">《政策驱动·智慧薪税》暨燚博云2019新税政策大咖分享会全国行</a></h4>
                <p class="fnt_16" style="margin-bottom: 15px;">
                    为响应国家新税政策，帮助企业优税节税，完善薪酬体系，真正实现降本增效，燚博云&amp;优客工场联合主办的《政策驱动·智慧薪税》暨燚博云2019新税政策大咖分享会全国行将要启动啦！ </p> <a
                    class="work_ch_btn" href="/content/details6_2444.html" target="_blank">View more</a>
            </div>
        </li>
    </div>
</div>
{% endblock %}
{% block body_extra %}

{% endblock  %}