{% extends "base_3col.html" %}
{% load static %}
{% block sectionid %}
services
{% endblock sectionid %}
{% block body_class %}services{% endblock %}
{% block layout_class %}full-width gray-color{% endblock %}
{% block header %}
<div class="pt-5 pb-4 overlay-top">
    <h1 class="bold mb-3">
        Services
    </h1>
</div>
{% endblock %}
{% block content %}
<div class="section">
    <div class="container">
        <div class="row">
            <h1 class="center">Services Plan</h1>
        </div>
        {% block services-plan %}
        {% endblock  %}
    </div>
</div>
<div class="section advantages">
    <div class="container">
        <div class="row mb-5">
            <h1 class="center mb-4">Advantages of Choosing Fagolabs</h1>
        </div>
        {% block advantages %}
        {% endblock  %}
    </div>
</div>
<div class="section process">
    <div class="container">
        <div class="row mb-5">
            <h1 class="center mb-4">Delivery Process</h1>
        </div>
        {% block process %}
        {% endblock  %}
    </div>
</div>
<div class="section technologies">
    <div class="container">
        <div class="row mb-5">
            <h1 class="center mb-4" >Technologies</h1>
        </div>
        {% block technologies %}
        {% endblock  %}
    </div>
</div>
{% endblock  %}