<div role="contentinfo">
  <div class="subfooter">
    <div class="container">
      <div class="row">
        <div class="col-7">
          <div class="row">
            <div class="col-12 col-md-12 col-lg-4">
              <h2>Solutions For</h2>
              <p>This is test sentences</p>
            </div>
            <div class="col-12 col-md-12 col-lg-4">
              <h2>Products</h2>
              <p>This is test sentences</p>
            </div>
            <div class="col-12 col-md-12 col-lg-4">
              <h2>About Us</h2>
              <p>This is test sentences</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-12 col-lg-4">
              <h2>Resources</h2>
              <p>This is test sentences</p>
            </div>
            <div class="col-12 col-md-12 col-lg-4">
              <h2>Support</h2>
              <p>This is test sentences</p>
            </div>
          </div>
        </div>

        <div class="col-5 follow last-child">
          <h2>Our Mission</h2>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially.
          </p>
        </div>
      </div>
    </div>

    <!-- <div class="footer">
    <div class="container">
      <div class="footer-logo">
        <a class="logo" href="{% url 'homepage' %}">Django</a>
      </div>
      <ul class="thanks">
        <li>
          <span>Hosting by</span> <a class="rackspace" href="https://www.rackspace.com">Rackspace</a>
        </li>
        <li class="design"><span>Design by</span> <a class="threespot" href="https://www.threespot.com">Threespot</a> <span class="ampersand">&amp;</span> <a class="andrevv" href="http://andrevv.com/"></a></li>
      </ul>
      <p class="copyright">&copy; 2005-{% now "Y" %}
        <a href="{% url 'homepage' %}foundation/"> Django Software
        Foundation</a> and individual contributors. Django is a
        <a href="{% url 'homepage' %}trademarks/">registered
        trademark</a> of the Django Software Foundation.
      </p>
    </div>
  </div> -->
  </div>
</div>
