{% load static %}
<div role="banner" id="top">
  <div class="container">
    <a class="logo" href="{% url 'homepage' %}">BrandName</a>
    <!-- .logo in style -->
    <div role="navigation">
      <ul>
        <div style="float: left !important;">
          <li{% if 'start' in request.path %} class="active"{% endif %} >
            <a href="{% url 'overview' %}">Research</a>
          </li>
          <li{% if 'start' in request.path %} class="active"{% endif %} >
            <a href="{% url 'overview' %}">Solutions</a>
          </li>
          <li{% if 'download' in request.path %} class="active"{% endif %}>
            <a href="{% url 'download' %}">Services</a>
          </li>
          <li{% if request.host.name == 'docs' %} class="active"{% endif %}>
            <a href="{% url 'homepage' host 'docs' %}">News</a>
          </li>
          <li{% if 'weblog' in request.path %} class="active"{% endif %}>
            <a href="{% url 'weblog:index' %}">Blog</a>
          </li>
          <li{% if 'start' in request.path %} class="active"{% endif %} >
            <a href="{% url 'overview' %}">About</a>
          </li>
        </div>
        <div style="float: right;">
          <!-- <li{% if 'foundation' in request.path %} class="active"{% endif %}>
            <a href="{% url 'homepage' %}foundation/">About</a>
          </li> -->
          <li>
            <a href="{% url 'login' %}">Login</a>
          </li>
          <li>
            <a href="{% url 'homepage' %}">Sign up</a>
          </li>
          <!-- <li>
            <a >
              <img style="width: 30px; height: 24px;"
              src="{% static "img/logos/globe-asia-solid.svg"%}">
              <span
              style="color: #fff;
            display: inline-block;"
              >EN</span>
            </a>
          </li>  -->
        </div>
      </ul>
    </div>
  </div>
</div>
