{% load static %}
<div role="banner" id="top">
  <div class="container">
    <a class="logo" href="{% url 'homepage' %}">BrandName</a>
    <!-- .logo in style -->
    <div role="navigation">
      <ul style="width: 100%;">
        <div>
          <li id="dropdown" {% if 'research' in request.path %} class="active" {% endif %}>
            <a class="link dropdown-icon" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <div class="title">
                Research
              </div>
              <div class="dropdown-menu-mobile">
                <a class="dropdown-item" href="{% url 'research:optimized-technique' %}">Optimized techniques</a>
                <a class="dropdown-item" href="{% url 'research:dpi' %}">DPI - Deep Packet Inspection</a>
                <a class="dropdown-item" href="{% url 'research:cns' %}">Cloud & Network & Storage</a>
                <a class="dropdown-item" href="{% url 'research:security' %}">Security</a>
                <a class="dropdown-item" href="{% url 'research:data-science' %}">Data Science</a>
              </div>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="{% url 'research:optimized-technique' %}">Optimized techniques</a>
              <a class="dropdown-item" href="{% url 'research:dpi' %}">DPI - Deep Packet Inspection</a>
              <a class="dropdown-item" href="{% url 'research:cns' %}">Cloud & Network & Storage</a>
              <a class="dropdown-item" href="{% url 'research:security' %}">Security</a>
              <a class="dropdown-item" href="{% url 'research:data-science' %}">Data Science</a>
            </div>
          </li>
          <li id="dropdown" class="check1 {% if 'solution' in request.path %} active {% endif %}">
            <a class="link dropdown-icon" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <div class="title">
                Solution
              </div>
              <div class="dropdown-menu-mobile">
                <a class="dropdown-item" href="{% url 'solution:dns-server' %}">DNS Server Solution</a>
                <a class="dropdown-item" href="{% url 'solution:web-server' %}">Next-Gen Web Server</a>
                <a class="dropdown-item" href="{% url 'solution:ott-system' %}">Secured OTT System</a>
                <a class="dropdown-item" href="{% url 'solution:traffic-recognizer' %}">Traffic Recognizer</a>
                <a class="dropdown-item" href="{% url 'solution:ids-ips' %}">IDS/IPS</a>
                <a class="dropdown-item" href="{% url 'solution:virtual-firewall' %}">Virtual Firewall</a>
              </div>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="{% url 'solution:dns-server' %}">DNS Server Solution</a>
              <a class="dropdown-item" href="{% url 'solution:web-server' %}">Next-Gen Web Server</a>
              <a class="dropdown-item" href="{% url 'solution:ott-system' %}">Secured OTT System</a>
              <a class="dropdown-item" href="{% url 'solution:traffic-recognizer' %}">Traffic Recognizer</a>
              <a class="dropdown-item" href="{% url 'solution:ids-ips' %}">IDS/IPS</a>
              <a class="dropdown-item" href="{% url 'solution:virtual-firewall' %}">Virtual Firewall</a>
            </div>
          </li>
          <li{% if 'download' in request.path %} class="active" {% endif %}>
            <a class="link" href="{% url 'download' %}">Services</a>
            </li>
            <li{% if request.host.name == 'docs' %} class="active" {% endif %}>
              <a class="link" href="{% url 'homepage' host 'docs' %}">News</a>
              </li>
              <li{% if 'weblog' in request.path %} class="active" {% endif %}>
                <a class="link" href="{% url 'weblog:index' %}">Blog</a>
                </li>
                <li{% if 'about' in request.path %} class="active"{% endif %} >
            <a href="{% url 'about:about' %}">About</a>
          </li>
                  <div style="float: right !important;" class="login-reg">
                    <li>
                      <a class="link" href="{% url 'login' %}">Login</a>
                    </li>
                    <li>
                      <a class="link" href="{% url 'homepage' %}">Sign up</a>
                    </li>
                    <!-- <li>
              <a >
                <img style="width: 30px; height: 24px;"
                src="{% static "img/logos/globe-asia-solid.svg"%}">
                <span
                style="color: #fff;
              display: inline-block;"
                >EN</span>
              </a>
            </li>  -->
                  </div>
        </div>

      </ul>
    </div>
  </div>
</div>