{% load static %}
<div role="banner" id="top">
  <div class="container">
    <a class="logo" href="{% url 'homepage' %}">BrandName</a>
    <!-- .logo in style -->
    <div role="navigation">
      <ul style="width: 100%;">
        <div>
          <li id="dropdown" class="check {% if 'research' in request.path %}active{% endif %}">
            <a class="link dropdown-icon" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <div class="title">
                Research
              </div>
              <div class="dropdown-menu-mobile">
                <a class="dropdown-item" href="{% url 'research:optimized-technique' %}">Optimized techniques</a>
                <a class="dropdown-item" href="{% url 'research:dpi' %}">DPI - Deep Packet Inspection</a>
                <a class="dropdown-item" href="{% url 'research:cns' %}">Cloud & Network & Storage</a>
                <a class="dropdown-item" href="{% url 'research:security' %}">Security</a>
                <a class="dropdown-item" href="{% url 'research:data-science' %}">Data Science</a>
              </div>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="{% url 'research:optimized-technique' %}">Optimized techniques</a>
              <a class="dropdown-item" href="{% url 'research:dpi' %}">DPI - Deep Packet Inspection</a>
              <a class="dropdown-item" href="{% url 'research:cns' %}">Cloud & Network & Storage</a>
              <a class="dropdown-item" href="{% url 'research:security' %}">Security</a>
              <a class="dropdown-item" href="{% url 'research:data-science' %}">Data Science</a>
            </div>
          </li>
          <li id="dropdown" class="check1 {% if 'solution' in request.path %} active {% endif %}">
            <a class="link dropdown-icon" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <div class="title">
                Solution
              </div>
              <div class="dropdown-menu-mobile">
                <a class="dropdown-item" href="{% url 'solution:dns-server' %}">DNS Server Solution</a>
                <a class="dropdown-item" href="{% url 'solution:web-server' %}">Next-Gen Web Server</a>
                <a class="dropdown-item" href="{% url 'solution:ott-system' %}">Secured OTT System</a>
                <a class="dropdown-item" href="{% url 'solution:traffic-recognizer' %}">Traffic Recognizer</a>
                <a class="dropdown-item" href="{% url 'solution:ids-ips' %}">IDS/IPS</a>
                <a class="dropdown-item" href="{% url 'solution:virtual-firewall' %}">Virtual Firewall</a>
              </div>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="{% url 'solution:dns-server' %}">DNS Server Solution</a>
              <a class="dropdown-item" href="{% url 'solution:web-server' %}">Next-Gen Web Server</a>
              <a class="dropdown-item" href="{% url 'solution:web-server' %}">Next-Gen Web Server</a>
              <a class="dropdown-item" href="{% url 'solution:ott-system' %}">Secured OTT System</a>
              <a class="dropdown-item" href="{% url 'solution:traffic-recognizer' %}">Traffic Recognizer</a>
              <a class="dropdown-item" href="{% url 'solution:ids-ips' %}">IDS/IPS</a>
              <a class="dropdown-item" href="{% url 'solution:virtual-firewall' %}">Virtual Firewall</a>
            </div>
          </li>
          <li id="dropdown" class="check2 {% if 'services' in request.path %} active {% endif %}">
            <a class="link dropdown-icon" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <div class="title">
                Services
              </div>
              <div class="dropdown-menu-mobile">
                <a class="dropdown-item" href="{% url 'services:technical-consultant' %}">Technical Consultant</a>
                <a class="dropdown-item" href="{% url 'services:outsourcing' %}">Outsourcing</a>
              </div>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="{% url 'services:technical-consultant' %}">Technical Consultant</a>
              <a class="dropdown-item" href="{% url 'services:outsourcing' %}">Outsourcing</a>
            </div>
          </li>
          {% comment %} test {% endcomment %}

          {% comment %} Test end {% endcomment %}
          <li{% if 'weblog' in request.path %} class="active" {% endif %}>
            <a class="link" href="{% url 'weblog:index' %}">News</a>
            </li>
            <li{% if 'x' in request.path %} class="active" {% endif %}>
              <a class="link" href="{% url 'blog' %}">Blog</a>
              </li>
              <li{% if 'about' in request.path %} class="active" {% endif %}>
                <a href="{% url 'about:about' %}">About</a>
                </li>
                <div style="float: right !important;" class="login-reg">
                  {% if user.is_authenticated %}
                  <li id="dropdown" class="check2 ">
                    <a class="link dropdown-icon" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">
                      <div class="title">
                        Welcome <span style="font-style: italic">{{user.username}}</span>,
                      </div>
                      <div class="dropdown-menu-mobile">
                        <a class="dropdown-item" href="{% url 'edit_profile' %}">
                          Edit Profile</a>
                        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                      </div>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <a class="dropdown-item" href="{% url 'edit_profile' %}">
                        Edit Profile</a>
                      <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                    </div>
                  </li>
                  {% else %}
                  <li>
                    <a class="link" href="{% url 'login' %}">Login</a>
                  </li>
                  <li>
                    <a class="link" href="{% url 'registration_register' %}">Sign up</a>
                  </li>
                  {% endif %}

                  <!-- <li>
              <a >
                <img style="width: 30px; height: 24px;"
                src="{% static "img/logos/globe-asia-solid.svg"%}">
                <span
                style="color: #fff;
              display: inline-block;"
                >EN</span>
              </a>
            </li>  -->
                </div>
        </div>

      </ul>
    </div>
  </div>
</div>